@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    html {
        background: #0D0D0D;
        color: #ffffff;
    }

    .vis {
        transform: translateX(100%);
    }
}
