@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    html {
        background: #0D0D0D;
        color: #ffffff;
        scroll-behavior: smooth;
    }

    a {
        @apply transition-all hover:text-primary
    }

    .vis {
        transform: translateX(100%);
    }

    ::-webkit-scrollbar {
        width: 8px;
    }
    ::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.05);
    }
    ::-webkit-scrollbar-thumb {
        background: #33282d;
        border-radius: 8px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }
}
