@import "app.css";

@layer base {
    img:not([alt='flutty']) {
        @apply rounded-md mx-auto
    }

    h1 > img {
        @apply inline-block h-8 !mr-2
    }

    a > img {
        @apply  inline-block h-5 mr-2
    }

    :not(figure) > img :not([alt='flutty']) {
        @apply my-4
    }
    figure {
        @apply my-4 text-center text-light-400
    }
    ol {
        @apply list-decimal ml-5
    }

    ul:not(aside > ul):not(.mobile-menu >  ul) {
        @apply list-disc ml-5
    }

    h1 {
        @apply mb-4
    }
    p {
        @apply py-2
    }
    a:not(ul > * > a):not(nav > * > a):not(main > ul > * > a) {
        @apply text-primary hover:text-light-100 my-1
    }

    table {
        @apply border border-[#ffffff]
    }

    th, td {
        @apply border border-[#ffffff] text-center p-2
    }

    blockquote {
        @apply rounded-md bg-dark-200 font-mono pl-4
    }

    details {
        @apply my-2
    }

    summary {
        @apply text-xl
    }
}
